.packageList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    background: #F2F6FE;
    border: 1px solid #F2F6FE;
    border-radius: 20px;
    margin: 0 16px 16px;
    white-space: nowrap;

    &:first-child {
      margin-top: 12px;
    }

    .rabateBox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px 10px;
      padding: 0 10px;
      height: 64px;
      border-radius: 16px;
      background: #fff;

      .rabateIcon {
        width: 50px;
        margin: 0 24px;
      }

      .rabateGap {
        width: 58px;
      }

      .rabateFlex {
        flex: 1;
        color: #333;
        font-size: 26px;
      }

      .rabateArr {
        width: 36px;
        transform: rotate(-90deg);
      }

      .residueTime {
        display: flex;
        align-items: center;

        img {
          width: 26px;
        }

        .time {
          padding: 0 4px;
          height: 30px;
          line-height: 30px;
          font-size: 22px;
          color: #333;
        }
      }
    }

    .listRow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 126px;
      padding: 0 14px;

      &.gp {
        padding: 0 24px;

        .diamond {
          margin: 0 10px;
        }
      }
    }

    .gpPromotion {
      position: absolute;
      left: 0;
      top: 0;
      width: 44px;
    }

    .pkgTag {
      color: #fff198;
      background: #fe5c8d;
    }

    .diamond {
      width: 40px;
    }

    .num {
      font-size: 30px;
      color: #25252F;
      width: 120px;
      padding: 0 4px;
    }

    .pkgIcon {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      background-image: url('/assets/img/diamond-s.png');
      background-size: contain;
      background-repeat: no-repeat;

      &.coin {
        background-image: url('/assets/img/coin.png');
      }
    }

    .info {
      flex: 1;
      color: #333;
      line-height: 1.4;

      .pkgNum {
        &.coin {
          color: #999;
        }
      }
    }

    .price {
      width: 230px;
      height: 58px;
      line-height: 58px;
      padding: 0 10px;
      color: #25252F;
      background: #FFF;
      border-radius: 28px;
      border: 1px solid #E9E9EA;

      &.gp {
        width: 180px;
        color: #fff;
        background: #833BFA;
        border: 0;
        text-align: center;
      }

      .icon {
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        margin-top: -3px;

        &.gift {
          background: url('/assets/img/gift.png');
          background-size: 100% 100%;
        }
      }
    }
  }
}

.comMarkTag {
  display: flex;
  align-items: center;
}