.btn-top {
  position: fixed;
  z-index: 7000;
  right: 20px;
  bottom: 20px;
  width: 79px;
  height: 82px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-image: url('./img/btn-top.png');
}
