<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>home-page</title>
    <script src="<%= __STATIC_PREFIX__ %>live/helloyo/app-common/index.js.html"></script>
    <% if (process.env.NODE_ENV === 'production') { %>
      <script src="<%= __STATIC_PREFIX__ %>live/helloyo/app-common/assets-load-monitor/2.5.6/assets-load-monitor-init.min.js"></script>
      <script src="<%= __STATIC_PREFIX__ %>live/helloyo/app-common/bigo-logger.js.html"></script>
    <% } %>
  </head>
  <body>
    <div id="root"></div>
    <div id="portal-container"></div>
    
    <script src="<%= __STATIC_PREFIX__ %>live/helloyo/app-common/flexible.min.js"></script>
    <script type="module" src="/src/pages/home/main.tsx"></script>
  </body>
</html>
